* {
  margin: 0;
  padding: 0;
}

html {
  color: #222;
  background-color: #d6d8ce;
  line-height: 1.4;
  font-size: 16pt;
  font-family: 'Lexend', sans-serif;
}

header {
  height: 150px;
  width: 100%;
  background: #588157;
  position: fixed;
  top: 0;
  z-index: 10;
}

nav {
  height: 100%;
  display: flex;
  align-items: center;       
  justify-content: flex-start;
  padding: 0 4rem;
}

nav a{
  color: white;
  text-decoration: none;
  font-weight: 300;
  font-size: 1.5rem;
  white-space: nowrap; 
}

nav ul {
  display: flex;
  list-style: none;
  gap: 3rem; 
}

body {
  padding-top: 150px;
}






